@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fddc22;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-area: header;
  background: #666699;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.6em;
}

header a {
  color: #fff;
  text-decoration: none;
}
main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background: #666699;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/* Products Section */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  min-width: 30rem;
  min-height: 30rem;

  max-width: 37rem;
  max-height: 37rem;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0;
  background-color: #fddc22;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #666699;
  color: #fff;
}
.button-primary {
  background-color: #fddc22;
}

/* Filter Section */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem solid #c0c0c0;
}
.filter div {
  flex: 1;
}

/* Cart */
.cart {
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
}

.cart-container {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-list img {
  width: 10rem;
}

.cart-item li {
  display: flex;
}
.cart-list li div {
  padding: 0.5rem;
}

.cart-list li div:last-child {
  flex: 1;
}

.button-align {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.amount {
  flex: 2;
  margin: 0.3rem;
}
.btn-amount {
  flex: 1;
  margin: 0.3rem;
}
.total > div {
  font-size: 2rem;
}

/* Checkout Form Section */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 0.7rem;
  border: 0.1rem #c0c0c0 solid;
}
